@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Silkscreen:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Pixelify Sans', sans-serif;
}
#background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Full height */
  background-image: url('../public/loopbg.png');
  background-repeat: repeat-x; /* Repeat horizontally */
  background-size: auto 100%; /* Maintain aspect ratio and cover full height */
  animation: scrollRight 120s linear infinite; /* Increase duration for slower scroll */
}

/* Define keyframes for smooth scrolling to the right */
@keyframes scrollRight {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}


